<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RWKEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RWKEngine.Properties.Settings>
            <setting name="webFtp" serializeAs="String">
                <value>ftp://winemp83.bplaced.net/rwk/</value>
            </setting>
            <setting name="webUser" serializeAs="String">
                <value>winemp83</value>
            </setting>
            <setting name="webPass" serializeAs="String">
                <value>Julia2013!</value>
            </setting>
        </RWKEngine.Properties.Settings>
    </applicationSettings>
</configuration>