<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RWKEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RWKEngine.Properties.Settings>
            <setting name="webFtp" serializeAs="String">
                <value>ftp://winemp83.bplaced.net/rwk/</value>
            </setting>
            <setting name="webUser" serializeAs="String">
                <value>winemp83</value>
            </setting>
            <setting name="webPass" serializeAs="String">
                <value>Julia2013!</value>
            </setting>
            <setting name="ErgDB" serializeAs="String">
                <value>Ergebnis.xml</value>
            </setting>
            <setting name="ErgDBLvL1" serializeAs="String">
                <value>Ergebnisse</value>
            </setting>
            <setting name="ErgDBLvL2" serializeAs="String">
                <value>Ergebniss</value>
            </setting>
            <setting name="ErgDBLvL21" serializeAs="String">
                <value>SNr</value>
            </setting>
            <setting name="ErgDBLvL22" serializeAs="String">
                <value>Dat</value>
            </setting>
            <setting name="ErgDBLvL23" serializeAs="String">
                <value>E30</value>
            </setting>
            <setting name="ErgDBLvL24" serializeAs="String">
                <value>E15</value>
            </setting>
            <setting name="ErgDBLvL25" serializeAs="String">
                <value>FHG</value>
            </setting>
            <setting name="ErgDBLvL26" serializeAs="String">
                <value>FHP</value>
            </setting>
            <setting name="SNDB" serializeAs="String">
                <value>Schuetze.xml</value>
            </setting>
            <setting name="SNDBLvL1" serializeAs="String">
                <value>Schuetzen</value>
            </setting>
            <setting name="SNDBLvL2" serializeAs="String">
                <value>Schuetze</value>
            </setting>
            <setting name="SNDBLvL21" serializeAs="String">
                <value>SN</value>
            </setting>
            <setting name="SNDBLvL22" serializeAs="String">
                <value>NN</value>
            </setting>
            <setting name="SNDBLvL23" serializeAs="String">
                <value>VN</value>
            </setting>
        </RWKEngine.Properties.Settings>
    </applicationSettings>
</configuration>